@media screen and (min-width: 600px){
    #menu {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    header nav {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    header nav a{
        display: block;
    }
    main .fig-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem;
        place-items: center;
    }
}